.main-content {
  margin-top: 6em;
}

@media screen and (min-width: 1024px) {
  .main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 34% 65%;
        grid-template-columns: 34% 65%;
    grid-column-gap: 1%;
  }
}

.main-content .content .head-slide .swiper-wrapper .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .content .head-slide .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .main-content .content .head-slide .swiper-wrapper .swiper-slide img {
    height: 260px;
  }
}

.main-content .content .head-slide .swiper-wrapper .swiper-slide .box-slider {
  position: absolute;
  right: 5px;
  top: 0;
  width: 75%;
  text-align: end;
}

.main-content .content .head-slide .swiper-wrapper .swiper-slide .box-slider h2 {
  margin: .5em 0;
  color: #FF9B21;
  font-size: 1.25em;
  height: 1.6em;
  overflow-y: hidden;
}

.main-content .content .head-slide .swiper-wrapper .swiper-slide .box-slider p {
  margin: .5em 0;
  color: #000;
}

.main-content .content .head-slide .swiper-wrapper .swiper-slide .box-slider button {
  margin-top: .5em;
  height: 25px;
  background-color: #FFF;
}

.main-content .content .head-slide .swiper-pagination {
  bottom: 0;
  left: 80%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (min-width: 768px) {
  .main-content .content .head-slide .swiper-pagination {
    bottom: 10px;
  }
}

.main-content .content .head-slide .swiper-button-next {
  opacity: 1;
  color: #FFF;
  top: 88%;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 0;
}

.main-content .content .head-slide .swiper-button-next:after {
  font-size: 1em;
}

.main-content .content .head-slide .swiper-button-prev {
  opacity: 1;
  color: #FFF;
  top: 88%;
  left: 88%;
  width: 20px;
  height: 20px;
  margin: 0;
}

.main-content .content .head-slide .swiper-button-prev:after {
  font-size: 1em;
}

.main-content .content .home-sale {
  margin: 2em 0;
}

.main-content .content .home-sale .title {
  margin-bottom: 1em;
}

.main-content .content .article {
  margin: 2em 0;
}

.main-content .content .article .grid-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
}

.main-content .content .article .grid-article .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .content .article .grid-article .box img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .content .article .grid-article .box .detail {
  position: absolute;
  right: 5px;
  top: 0;
  width: 75%;
  text-align: end;
}

.main-content .content .article .grid-article .box .detail h2 {
  margin: .5em 0;
  color: #FF9B21;
  font-size: 1.25em;
  height: 1.6em;
  overflow-y: hidden;
}

.main-content .content .article .grid-article .box .detail p {
  margin: .5em 0;
  color: #000;
}

.main-content .content .article .grid-article .box .detail button {
  margin-top: .5em;
  height: 25px;
}

.main-content .content .recomment {
  margin: 2em 0;
}

.main-content .content .recomment .title {
  margin-bottom: 1em;
}

.main-content .content .recomment .load-more {
  text-align: center;
  margin-top: 2em;
}

.main-content .content .recomment .load-more button {
  background-color: #FF9B21;
  color: #FFF;
}
/*# sourceMappingURL=home.css.map */