.main-content {
  margin-top: 6em;
}

@media screen and (min-width: 1024px) {
  .main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.main-content > .login, .main-content .regis {
  margin: 2em 0;
  min-height: 82vh;
}

@media screen and (min-width: 1024px) {
  .main-content > .login, .main-content .regis {
    margin: unset;
    margin-bottom: 1em;
    min-height: 1230px;
  }
}

@media screen and (min-width: 1280px) {
  .main-content > .login, .main-content .regis {
    min-height: 800px;
    padding: 0 10em;
  }
}

.main-content > .login .box, .main-content .regis .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media screen and (min-width: 768px) {
  .main-content > .login .box, .main-content .regis .box {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1280px) {
  .main-content > .login .box, .main-content .regis .box {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .main-content > .login .box, .main-content .regis .box {
    width: 60%;
    margin: 0 auto;
  }
}

.main-content > .login .box .left, .main-content .regis .box .left {
  display: none;
  position: relative;
}

@media screen and (min-width: 768px) {
  .main-content > .login .box .left, .main-content .regis .box .left {
    display: block;
  }
}

.main-content > .login .box .left img, .main-content .regis .box .left img {
  width: 100%;
  max-height: 750px;
}

.main-content > .login .box .left .logo, .main-content .regis .box .left .logo {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-content > .login .box .left .text, .main-content .regis .box .left .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
}

.main-content > .login .box .left .text p, .main-content .regis .box .left .text p {
  text-align: center;
}

.main-content > .login .box .right, .main-content .regis .box .right {
  background-color: #000;
  padding: 2em;
}

@media screen and (min-width: 768px) {
  .main-content > .login .box .right, .main-content .regis .box .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-content > .login .box .right h1, .main-content .regis .box .right h1 {
  color: #FF9B21;
}

.main-content > .login .box .right .input-box, .main-content .regis .box .right .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.main-content > .login .box .right .input-box label, .main-content .regis .box .right .input-box label {
  font-size: 1.2em;
}

.main-content > .login .box .right .button, .main-content .regis .box .right .button {
  text-align: center;
}

.main-content > .login .box .right .button button, .main-content .regis .box .right .button button {
  background-color: #FF9B21;
  color: #FFF;
  width: 100px;
  cursor: pointer;
}

.main-content > .login .box .right .forget-regis, .main-content .regis .box .right .forget-regis {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content > .login .box .right .forget-regis a, .main-content .regis .box .right .forget-regis a {
  color: #FF9B21;
}

@media screen and (min-width: 1280px) {
  .main-content .regis .box {
    width: 80%;
  }
}

.main-content .regis .box .right .select-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
}

.main-content .regis .box .right .select-type .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .regis .box .right .select-type .choice .circle {
  width: 20px;
  height: 20px;
  border: 1px solid #FFF;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
}

.main-content .regis .box .right .select-type .choice .circle .inside {
  height: 12px;
  width: 12px;
  border-radius: 20px;
}

.main-content .regis .box .right .select-type .choice .circle .inside.select {
  background-color: #FF9B21;
  border: 1px solid #FF9B21;
}

.main-content .regis .box .right .select-type .choice label {
  font-size: 1em;
}

.main-content .regis .box .right .login {
  margin-top: .5em;
  text-align: end;
}

.main-content .regis .box .right .login a {
  color: #FF9B21;
}

.main-content .changepass {
  margin: 2em 0;
  min-height: 82vh;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .main-content .changepass {
    margin: unset;
    margin-bottom: 1em;
    min-height: 1230px;
  }
}

@media screen and (min-width: 1280px) {
  .main-content .changepass {
    min-height: 800px;
    padding: 0 10em;
  }
}

.main-content .changepass .box {
  width: 90%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .main-content .changepass .box {
    width: 65%;
  }
}

@media screen and (min-width: 1280px) {
  .main-content .changepass .box {
    width: 30%;
  }
}

.main-content .changepass .box h1 {
  color: #FF9B21;
}

.main-content .changepass .box .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.main-content .changepass .box .input-box label {
  font-size: 1.2em;
}

.main-content .changepass .box .button {
  text-align: center;
}

.main-content .changepass .box .button button {
  background-color: #FF9B21;
  color: #FFF;
  width: 150px;
  cursor: pointer;
}

.main-content .changepass .bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 300px;
}

@media screen and (min-width: 768px) {
  .main-content .changepass .bg {
    height: 560px;
  }
}

@media screen and (min-width: 1024px) {
  .main-content .changepass .bg {
    height: 655px;
  }
}

@media screen and (min-width: 1280px) {
  .main-content .changepass .bg {
    height: auto;
  }
}
/*# sourceMappingURL=page-support.css.map */