// color
$dark-gray: #3B3B3B;
$light-gray: #C4C4C4;
$head-gray: #545454;
$orange: #FF9B21;
$red: #FF0000;
$black: #000;
$white: #FFF;
$green-line: #00B900;
$blue-face: #3B5B95;

// display
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;